@use "sass:map";
@use "sass:meta";

$breakpoints: (
	"medium": (
		min-width: 800px,
	),
	"large": (
		min-width: 1200px,
	),
);

@mixin respond-to($breakpoint) {
	$raw-query: map.get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: null;

		@if meta.type-of($raw-query) == "string" {
			$query: unquote($raw-query);
		} @else {
			$query: meta.inspect($raw-query);
		}

		@media #{$query} {
			@content;
		}
	} @else {
		@error 'No value found for `#{$breakpoint}`. Path: scss>layout>_breakpoints.scss';
	}
}

/*
    @include respond-to('medium') {
        //
    }
    @include respond-to('large') {
        //
    }
*/
