// Primary colors
$primary-color: #000;
$success-color: #2ecc71;
$error-color: #ca2121;

// Neutral colors
$color-light-grey: #f3f3f3;
$color-medium-grey: #cccccc;
$color-dark-grey: #333333;
$color-black: #000000;
$color-white: #ffffff;

// Background colors
$bg-error: #e2e2e2;
$bg-page: #4a4a4a;
