@import url("https://use.typekit.net/rkp1fwe.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    outline-color: $blue;
}
html {
    overflow-y: auto;
    overflow-x: hidden;
}
html,
body {
    scroll-behavior: smooth;
}
body {
    @include flex(column nowrap, flex-start, center, auto, flex-start, 0);
    background-color: #eeeeee;
    margin-bottom: 4rem;
}
main {
    @include flex(column nowrap, flex-start, center, auto, flex-start, 0);
    background-color: #ffffff;
    width: 80vw;
    max-width: 1280px;
    height: 100%;
    min-height: 38rem;
    box-shadow: 4px 2px 16px rgba(136,165,191,.48);
}