.valid {
    outline: solid 3px $green;
    background-color: $error-bg;
}

.invalid {
    outline: solid 3px $red;
    background-color: $error-bg;
}

.helptext {
    padding-left: 2px;
    margin-bottom: 2px;
    font-size: 12px;
}

.marker-wrapper {
    @include flex(row nowrap, flex-end, center, center, center, 0);
    position: relative;
    top: -7.5rem;
    margin-left: 0.5rem;
    width: 100%;
}

.marker {
    @include flex(row nowrap, center, center, center, center, 0);
    height: 29px;
    width: 30px;
    border-radius: 50%;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.xmark {
    background-color: $red;
    color: $white;
}

.checkmark {
    margin-top: 1rem;
    background-color: $green;
    color: $white;
}

.feedback {
    height: 1em;
    font-weight: 500;
    font-size: 14px;
    padding-left: 2px;
}