@import url("https://use.typekit.net/rkp1fwe.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  outline-color: #30588e;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  background-color: #eeeeee;
  margin-bottom: 4rem;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  background-color: #ffffff;
  width: 80vw;
  max-width: 1280px;
  height: 100%;
  min-height: 38rem;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.form-wrapper {
  width: 100%;
  padding: 3rem 6rem 4rem 6rem;
}
.form-wrapper h1 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #cccccc;
}

form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  width: 100%;
}
form label {
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  cursor: pointer;
}
form input[type=text],
form input[type=tel],
form input[type=email],
form input[type=time] {
  width: 100%;
  height: 2.5em;
  padding: 0 0.75em;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.05em;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}
form input[type=text]:hover,
form input[type=tel]:hover,
form input[type=email]:hover,
form input[type=time]:hover {
  border: solid 1px #cccccc;
  outline: solid 2px #cccccc;
}
form input[type=text]:focus,
form input[type=tel]:focus,
form input[type=email]:focus,
form input[type=time]:focus {
  border: solid 1px #000000;
  outline: solid 2px #000000;
}
form input[type=radio] {
  height: 1rem;
  width: 1rem;
  accent-color: #30588e;
}
form textarea {
  min-height: 5rem;
  border-radius: 3px;
  border: solid 1px #cccccc;
  padding: 0.75em;
}
form textarea:hover {
  border: solid 1px #cccccc;
  outline: solid 2px #cccccc;
}
form textarea:focus {
  border: solid 1px #000000;
  outline: solid 2px #000000;
}
form .capitalize input {
  text-transform: capitalize;
}

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
}

.input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0.5em;
  width: 100%;
  padding: 1rem;
  height: 7.6rem;
  border-radius: 5px;
  border: solid 1px #cccccc;
  background-color: #f3f3f3;
}

.comment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0.5em;
  border: solid 1px #cccccc;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 0.75em;
  flex: 2.17;
}

fieldset {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  width: 100%;
  border: none;
}
fieldset legend {
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}
fieldset .radio {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0.5rem;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px #cccccc;
  background-color: #f3f3f3;
}
fieldset .feedback {
  display: none;
}

.btn-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
}
.btn-wrapper button {
  border-radius: 5px;
  padding: 1em 1.5em;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.05em;
}

#submit {
  background-color: #30588e;
  color: #ffffff;
  border: solid 2px #30588e;
}
#submit:focus, #submit:hover {
  border: solid 2px #30588e;
  background-color: #ffffff;
  color: #000000;
}
#submit:active {
  border: solid 2px #cccccc;
  background-color: #f3f3f3;
}

#reset {
  background-color: #f3f3f3;
  border: solid 2px #30588e;
}
#reset:focus, #reset:hover {
  background-color: #30588e;
  color: #ffffff;
  border: solid 2px #30588e;
}
#reset:active {
  border: solid 2px #cccccc;
  background-color: #f3f3f3;
  color: #000000;
}

.valid {
  border: solid 3px #2ECC71;
  background-color: #e2e2e2;
}

.invalid {
  border: solid 3px #E72525;
  background-color: #e2e2e2;
}

.helptext {
  height: 1em;
  font-size: 12px;
}

.marker-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 0;
  position: relative;
  top: -7.5rem;
  margin-left: 0.5rem;
  width: 100%;
}

.marker {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 0;
  height: 29px;
  width: 30px;
  border-radius: 50%;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.xmark {
  background-color: #E72525;
  color: #ffffff;
}

.checkmark {
  margin-top: 1rem;
  background-color: #2ECC71;
  color: #ffffff;
}

.feedback {
  height: 1em;
  font-weight: 500;
}

.success-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  width: 100%;
}
.success-page h1 {
  width: 100%;
}
.success-page ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  list-style: none;
  border-radius: 5px;
  border: solid 1px #cccccc;
  background-color: #f3f3f3;
  padding: 2rem;
}
.success-page li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 5rem;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 1em;
  letter-spacing: 0.025em;
}
.success-page li:last-of-type {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
}

/*# sourceMappingURL=styles.css.map */
